#content {
	text-align:left;
	padding:25px 50px;
}

ul {
	list-style: none;
}

.gameStatus {
	margin-top:-15px;
}

li:first-child {
	padding-top:0px;
}

li:last-child {
	border-bottom: none;
}

li {
	border-bottom:1px solid gray;
	padding-bottom:20px
}
button {
	margin:10px 0px;
}