/* CSS file for our app */
*{
	-webkit-user-select: none;
}
body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-align:center; 
	padding-top:50px; 
	background-image:url('dark_wall.png');
	background-repeat:always;
}

canvas {
	
	/* width:500px;
	height:300px; */
	box-shadow:0px 2px 15px 1px rgba(0,0,0,0.5); 
	background-color: white;
	position:absolute;
	left:37%;
}

.slider{
	-webkit-user-select: none;
	/*margin-right: 20px;*/
	width:25px;
	height:300px;
	margin-left:20px;
	position:relative;
	left:-20%;
	
}

#clear_canvas, #loadRecordedDrawings, #saveRecordedDrawings {

  position: absolute;
  top: 460px;

}

#clear_canvas {
  
  left: 600px;

}

#saveRecordedDrawings  {
  
  left: 800px;

}
