/* CSS file for our app */
* {
	-webkit-user-select: none;
}

canvas {
	
	/* width:500px;
	height:300px; */
	box-shadow:0px 2px 4px 1px rgba(0,0,0,0.45); 
	background-color: white;
	/*position:absolute;
	left:37%;*/
}

.slider{
	-webkit-user-select: none;
	/*margin-right: 20px;*/
	width:25px;
	height:300px;
	/*margin-left:20px;
	position:relative;
	left:-20%;*/
	
}

#colorPallete {
	width: 25px;
	height: 25px;
}

#myCanvas {
	width: 500px;
	height:300px;
}